

.recipe-picture{
  height: 450px;
  width: 550px;
  object-fit: cover;
}

.recipe-name{
  padding: 16px;
  font-size: 48px;
}

.recipe-container{
  background-color: white;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.recipe-list-container{
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

body{
  background-color: whitesmoke;
  font-family: 'Corinthia', cursive;
  font-family: 'Gwendolyn', cursive;
  font-family: 'Poppins', sans-serif;
}